 <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Student Management System</h5>
                    <p>© 2024 All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <h5>Contact</h5>
                    <p>Email: info@school.com<br>Phone: (123) 456-7890</p>
                </div>
            </div>
        </div>
    </footer>